/*layout elements*/
body {
	background-image: url("../img/bg.jpg");
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Overpass', sans-serif;
}
.container-fluid{ 
	padding: 15% 25%;
	background-image: url("../img/bg.jpg");
	background-size: cover;
	background-position: -20px center;
	height: 100vh;
}	

/*Modal Stuff*/
.modal-backdrop {
    z-index: 1040 !important;
}
.modal-dialog {
    margin: 2px auto;
    z-index: 1100 !important;
}

/*Bootstrap Overries*/
.jumbotron {
	background-color: rgba(255, 255, 255, 0.85);
	margin: 0;
}

.jumbotron.round {
    border-radius: 250px;
}

.jumbotron h1 {
    font-size: 45px;
}

/*Images*/
.logo {
	width: 60%;
}

.modal-img {
	width: 80%;
}

/*Font Styling*/
h1 {
	font-family: 'Kalam', cursive;
}

h3{
	font-family: 'Happy Monkey', cursive;
}

